file[4-6].txt
Jquery Assignment/.idea/*
.idea/*
Gradle\ Practice/bootcamp/.idea/*
Gradle\ Practice/Gradle_Assignment/.gradle/*
Gradle\ Practice/Gradle_Assignment/build/*
Gradle\ Practice/Gradle_Assignment/.idea/*
Gradle\ Practice/Gradle_Assignment/.idea/*
